,root {

}

.combo_box {

}

.combo_box_container {
    -fx-background-color: #eee;
}

.combo_box_title_label {

}

.combo_box_shape {

}

.shape_container {
    -fx-border-color: #000000;
    -fx-border-width: 1px;
}